<title><%= title %></title>
<h1></h1>


<div class="post">
						<h2>Welcome to Dog Walker</h2>
						<p>
							This is <strong>Dog Walker</strong>, a website where you can schedule a time for you dog to take a walk						</p>
					</div>
					
<p></p>
